.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
}

.submitError {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-error);
}

.submit {
  width: 100%;
  margin-top: 22px;
}
